<!doctype html>
<html>
  <head>
    <title>Terminal</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/global.css" />
<% cssFiles.forEach(function(file) { %>
    <link rel="stylesheet" href="/css/<%= file %>.css" />
<% }); %>
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="/Base.js"></script>
    <script data-main="app.js" src="require.js"></script>
    <script type="text/javascript" src="/analytics.js"></script>
  </head>
  <body>
    <div class="header">
    </div>
    <div class="content">
